
@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');

:root {
    --text-color: #efdbe9;
    --card-front-color: #802114;
    --card-back-color: #7200f4;
}


body{
    background: url(img/bg-desktop.webp);
    font-family:"Sofadi One" ;
}

footer{
    background-color: black;
    color: white;
    bottom:0;
    position:fixed;
    width: 100%;
}

footer p{
    text-align: center;
    font-size: 0.6rem;
    height: 2rem;
    margin-top: 0.5rem;
}
#container{
    display: flex;
}
.cartao{
    margin: 1rem 1rem;/*espaço externo 1 rem p/ todos os lados*/
    background-color: #ffffffdb;/*tela de fundo cor*/
    height: 20rem;/* altura elemento 20rem*/
    flex-grow: 1;/*cresce os elemento de maneira uniforme*/
    flex-basis: calc(33% - 0.6rem);/* divide o espaço p/ 3 elementos*/


}
.cartao_conteudo{
    text-align: center;/*alinhamento texto ao centro*/
    height: 100%; /*altura da div em 100%*/

}
.cartao_conteudo h3 {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;/* texto alinhado a esquerda*/
    padding: 0.5rem; /*espaço interno de 0.5 raiz*/
    position: absolute; /*posiciona o titulo em relação ao ''pai''*/
    margin: 0.6rem; /*margem externa de 0.6 raiz*/
    border-radius: 0.6rem; /*borda arredondada de 0.6 raiz*/
    font-size: 1vw; /*tamanho leira do titulo, 1% largura raiz*/


}